<div class="page-header">
    <h1>Person Directory</h1>
</div>

<div style="width: 98%;">
    <input type="text" class="form-control" placeholder="Type to filter..." ng-model="personFilter" ng-show="personDirectory.length > 0">
    <br>
    <table style="width: 100%;" ng-show="personDirectory.length > 0">
        <thead>
            <th>&nbsp;&nbsp;&nbsp;</th>
            <th ng-click="sortByField='name'" class="sortable">Name</th>
            <th ng-click="sortByField='email'" class="sortable">E-mail</th>
            <th ng-click="sortByField='city'" class="sortable">City</th>
        </thead>
        <tbody>
            <tr ng-repeat="person in personDirectory|filter:personFilter||''|orderBy:sortByField">
                <td>
                    <button class="btn btn-xs btn-normal" style="margin: 1px;" ng-click="editPerson(person)">Edit</button>
                    <button class="btn btn-xs btn-danger" style="margin: 1px;" ng-click="removePerson(person)">Delete</button>
                </td>
                <td>{{person.name}}</td>
                <td>{{person.email}}</td>
                <td>{{person.city}}</td>
            </tr>
        </tbody>
    </table>
    <span ng-show="personDirectory.length === 0"><i>No person in directory...</i></span>
    <br/>
    <br/>
    <p>
        <button ng-show="isAddFormVisible === false" class="btn btn-xs btn-normal" ng-click="showAddForm()">Add</button>
    </p>
    <form name="addEditForm" style="width: 100%;" ng-show="isAddFormVisible === true">
        <input type="hidden" ng-model="id">
        <input type="text" ng-model="name" class="form-control" placeholder="Name..." style="margin-bottom: 3px;" required>
        <input type="email" ng-model="email" class="form-control" placeholder="E-mail..." style="margin-bottom: 3px;" required>
        <input type="text" ng-model="city" class="form-control" placeholder="City..." style="margin-bottom: 3px;" required>
        <button class="btn btn-xs btn-success" ng-click="savePerson(id, name, email, city)">Save</button>
        <button class="btn btn-xs btn-normal" ng-click="cancelDialog()">Cancel</button>
    </form>
</div>
<br>
